{{> menu id="about"}}

<section class="ui center aligned middle aligned segment aligned two column grid segment">
    <div class="column">
        <h3>
            WeatherTop App
        </h3>
        <p>
            Mointor latest weather station readings
        </p>
    </div>
    <div class="column">
        <img class="ui image"
             src="https://cdn.glitch.com/44bcc727-78a1-469e-8ce5-96d3dbdf4aa4%2Ficons.jpg?v=1628940440950">
    </div>
</section>
  
  
