{{> welcomemenu }}

<section class="ui center aligned middle two column grid  segment">
    <div class="column">
        <h1>Weather App </h1>
        <p> Sign up or log in to post weather updates</p>
    </div>
    <div class="column">
        <img class="ui image"
             src="https://cdn.glitch.com/44bcc727-78a1-469e-8ce5-96d3dbdf4aa4%2Ficons-0.jpg?v=1628940475211">
    </div>
</section>

